{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Список оборудования</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Инвентарный номер</th>
                <th>Категория</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            {% for item in equipment %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.inventory_number }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}